{% extends "blog/base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-12 img">
      <img src="https://scontent.fisb4-1.fna.fbcdn.net/v/t1.0-9/88957848_2560594710889327_1328996497814978560_o.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_eui2=AeEH8wITcFWh6HX9k3NyvRsvlR59ve4lGnaVHn297iUaduNGetCUJfsYVyyZWGlga-8kQacgcDlLc0fdXuYH8tft&_nc_ohc=DuYqoTg7czwAX_2qnhP&_nc_ht=scontent.fisb4-1.fna&oh=8768a438da8e41f7a3f64e61a2b81e08&oe=5ED5BE86">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h1>Thanks for visiting Us</h1>
        <h2>Your feedback is important to us</h2>
        <h3>Feel free to contact us</h3>
        <h4>usamaaa0786@gmail.com</h4>
        <hr>
        <h4>Phone:03047995329</h4>
      </blockquote>

    </div>
  </div>
</div>
{% endblock %}
